$main_color: rgba(221, 34, 51, 1);
$main_hover:rgba(157, 0, 14, 1);

$white: rgba(255, 255, 255, 1);
$white_opacity: rgba(255, 255, 255, 0.03);
$white_second_opacity: rgba(255, 255, 255, 0.2);

$black: rgba(21, 21, 21, 1);
$black_popup_font: rgba(68, 68, 68, 1);
$black_popup_second-font: rgba(75, 75, 75, 1);
$black_popup_third-font:rgba(84, 89, 95, 1);
$black_menu_bg: rgba(18, 18, 18, 1);
$black_opacity: rgba(21, 21, 21, 0.05);

$grey: rgba(43, 43, 43, 1);
$grey_font: rgba(84, 89, 95, 1);
$grey_inactive: rgba(121, 120, 120, 1);

$blue: rgba(41, 47, 173, 1);

$transition: all ease 0.3s;
$radius: 6px;